### 불편한 경우

In [20]:
import pandas as pd
df1 = pd.DataFrame([{'a':1,"b":2}])
df2 = pd.DataFrame([{'c':1,"d":2}])

In [21]:
print(df1.shape, df2.shape)
display(df1)
df2

(1, 2) (1, 2)

   a  b
0  1  2

   c  d
0  1  2

### InteractiveShell 설정 후

In [23]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [24]:
df1.shape, df2.shape
df1
df2

((1, 2), (1, 2))

   a  b
0  1  2

   c  d
0  1  2

### 원래대로 돌아가고 싶은 경우

In [25]:
InteractiveShell.ast_node_interactivity = "last_expr"

In [26]:
df1.shape, df2.shape
df1
df2

   c  d
0  1  2