### list 다루기

In [1]:
import pickle

li=[0,1,2,3,4,5]
## pickle은 python에 특화된 binary 파일이다.
with open("list.pickle","wb") as f:
    pickle.dump(li, f) # 위에서 생성한 리스트를 list.pickle로 저장    

with open("list.pickle","rb") as fi:
    test = pickle.load(fi) # list.pickle 읽어서 출력 -> list 잘 불러와졌다.

# pickle로 불러온 test의 type과 값 출력
print(type(test))
print(test)

<class 'list'>
[0, 1, 2, 3, 4, 5]

### 데이터프레임 다루기

In [2]:
import pandas as pd
df = pd.DataFrame({'A':[0,1],'B':[2,3]})
df

   A  B
0  0  2
1  1  3

In [3]:
## pickle은 python에 특화된 binary 파일이다.
with open("df.pickle","wb") as f:
    pickle.dump(df, f) # 위에서 생성한 데이터 프레임을 df.pickle로 저장    

with open("df.pickle","rb") as fi:
    test = pickle.load(fi) # df.pickle 읽기
# 출력해보면 pandas의 데이터프레임이 그대로 잘 출력됨.
print(type(test))
test

<class 'pandas.core.frame.DataFrame'>

   A  B
0  0  2
1  1  3

### 함수 다루기

In [4]:
import numpy as np
print(np.array)

<built-in function array>

In [5]:
with open("array.pickle","wb") as f:
    pickle.dump(np.array, f)
with open("array.pickle","rb") as fi:
    arr = pickle.load(fi)

k = arr(list(range(10)))
print(type(k))
print(k)

<class 'numpy.ndarray'>
[0 1 2 3 4 5 6 7 8 9]

### 클래스 다루기

In [6]:
# 클래스 내부에 multiplier 값을 저장
# 이후에 multiply 메소드에 들어오는 값을 multiplier와 곱해서 반환
class Multiply(object):
    def __init__(self, multiplier):
        self.multiplier = multiplier
        
    def multiply(self, num):
        return num * self.multiplier

mply = Multiply(3) # multiplier를 3으로 지정
mply.multiply(3) # multiplier * 3 반환 => 9

9

In [7]:
with open("mply_object.pickle","wb") as f:
    pickle.dump(mply, f)

with open("mply_object.pickle","rb") as fi:
    mply_pickle = pickle.load(fi)    

print(type(mply_pickle))
mply_pickle.multiply(10)

<class '__main__.Multiply'>

30